.product {
  min-height: 100vh;
  padding-top: 20px;
  background: #fff;
<<<<<<< HEAD
  &-review {
    margin-top: 18px;
  }
}

.related-products {
  margin-top: 28px;
=======
  &-divider {
    border-top-color: #c2c2c2;
  }
}

.related-product {
>>>>>>> hoangpv
  &__divider {
    border-top-color: #5a5a5a;
  }
}
